<strong>Olá, {{ student }}</strong>
<p>Sua dúvida foi respondida! Confira os detalhes abaixo:</p>
<p>
  <Strong>Dúvida: </Strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta: </strong> {{ answer_at}} <br />
  <br />
  <small>
    Caso tenha mais dúvidas utilize o aplicativo da academia!
  </small>
</p>
